#mapid{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.leaflet-marker-icon .leaflet-zoom-animated .leaflet-interactive{
fill:#3BAD6A;stroke:#FFFFFF;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;
}